###############################################################################
# InfraLab Code Owners
###############################################################################

# Default owner
* @ThomaMart

###############################################################################
# Infrastructure
###############################################################################

terraform/ @ThomaMart
ansible/ @ThomaMart
docker/ @ThomaMart
monitoring/ @ThomaMart

###############################################################################
# Application
###############################################################################

app/ @ThomaMart

###############################################################################
# Documentation
###############################################################################

docs/ @ThomaMart
README.md @ThomaMart

###############################################################################
# GitHub
###############################################################################

.github/ @ThomaMart
