################################################################################
# Python
################################################################################

__pycache__/
*.py[cod]

################################################################################
# Terraform
################################################################################

**/.terraform/
**/.terraform.lock.hcl

**/terraform.tfstate
**/terraform.tfstate.*

**/terraform.tfvars

################################################################################
# Local configuration
################################################################################

scripts/template.env
env/env.sh

################################################################################
# Logs
################################################################################

*.log

################################################################################
# IDE
################################################################################

.vscode/
.idea/

################################################################################
# OS
################################################################################

.DS_Store
Thumbs.db
