###############################################################################
# InfraLab
###############################################################################

###############################################################################
# Auto detect text files
###############################################################################

* text=auto eol=lf

###############################################################################
# Shell
###############################################################################

*.sh text eol=lf

###############################################################################
# Python
###############################################################################

*.py text eol=lf

###############################################################################
# Terraform
###############################################################################

*.tf text eol=lf
*.tfvars text eol=lf
*.hcl text eol=lf

###############################################################################
# YAML
###############################################################################

*.yml text eol=lf
*.yaml text eol=lf

###############################################################################
# Markdown
###############################################################################

*.md text eol=lf

###############################################################################
# JSON
###############################################################################

*.json text eol=lf

###############################################################################
# Docker
###############################################################################

Dockerfile text eol=lf

###############################################################################
# Make
###############################################################################

Makefile text eol=lf

###############################################################################
# Binary files
###############################################################################

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary

*.pdf binary

*.zip binary
*.gz binary
*.tgz binary
*.tar binary

*.qcow2 binary
*.img binary
*.iso binary
