################################################################################
# Debian Golden Template
################################################################################
VMID=9000
VM_NAME="debian-13-cloud"

################################################################################
# Debian
################################################################################
DEBIAN_RELEASE="trixie"
DEBIAN_VERSION="13"
ARCH="amd64"

################################################################################
# Proxmox
################################################################################
STORAGE="local-lvm"
BRIDGE="vmbr0"

################################################################################
# VM
################################################################################
MEMORY=2048
CORES=2
